#portfolio {
    background-color: #2c1a1b; /* Cor de fundo para harmonizar com o rodapé */
}

.portfolio {
    background-image: url(https://cdn.discordapp.com/attachments/957316110653464596/1094558908531605624/image.png);
    background-size: cover;
    padding-top: 93px;
}

.portfolio h2, .portfolio a {
    text-align: center;
}

.portfolio h2 {
    padding-bottom: 70px;
    color: #fff; /* Cor do texto para harmonizar com o rodapé */
}

button {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: #fff; /* Cor do texto do botão */
    background-color: #493737; /* Cor de fundo para o botão */
    border: none;
    transition: ease-in-out 0.3s;
}

button:hover {
    background-color: #a16c60; /* Cor de fundo do botão ao passar o mouse */
}

.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.portfolio a {
    display: inline;
    color: #fff; /* Cor do link para harmonizar com o rodapé */
    text-decoration: none;
}

.pro {
    background-color: #3a2c2c; /* Cor de fundo dos itens de portfólio, harmonizando com o rodapé */
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #C4C4C4; /* Cor do texto para destacar sobre o fundo mais escuro */
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background-color: #493737; /* Cor de fundo do conteúdo interno do item */
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}

.portfolio-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}

@media (max-width:1200px) {
  .portfolio {
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  #portfolio {
      display: flex;
      justify-content: center;
  }

  .portfolio-itens {
      flex-direction: column;
  }
}

@media (max-width:950px) {
    .pro {
        max-width: 300px;
    }
}
