#sobre-mim {
    width: 100%;
    background-color: #241a1b; /* Cor de fundo para harmonizar com o rodapé e a seção de formação */
}

.ajustador-2 {
    padding: 144px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 67px;
    max-width: 1064px;
    margin: 0 auto;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 45px;
    color: #f0f0f0; /* Cor mais clara para o título, para contrastar com o fundo escuro */
}

.circulo {
    position: absolute;
}

.avatar {
    width: 323px;
    height: 368px;
    position: relative;
    cursor: pointer;
    transition: ease 1s;
}

.avatar:hover {
    transform: scale(1.05);
}

@keyframes html {
    0% {
        bottom: 0;
        left: 250px;
    }
    100% {
        bottom: 0;
        left: 50px;
    }
}

@keyframes css {
    0% {
        bottom: 0;
        left: 50px;
    }
    100% {
        bottom: 0;
        left: 250px;
    }
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-mim p {
    text-indent: 30px;
    font-size: 20px;
    max-width: 609.25px;
    color: #d0d0d0; /* Cor mais clara para o texto, para garantir boa legibilidade */
}

@media (max-width:1200px) {
    .ajustador-2 {
        justify-content: center;
        text-align: center;
    }

    h2 {
        font-size: 30px;
    }

    .ajustador-2 p {
        font-size: 15px;
    }

    .sobre-mim p {
        text-indent: 0;
    }
}

@media (max-width:950px) {
    .circulo {
        display: none;
    }

    .avatar {
        display: none;
    }

    .ajustador-2 {
        max-width: 350px;
        padding: 70px 30px;
    }
}
